<form class="ui horizontal segment form" action="/dashboard/addstation" method="POST">
    <div class="three fields">
        <div class="field">
        <label>Station Name</label>
        <input placeholder="Station name" type="text" name="name">
    </div>
    <div class="field">
        <label>Latitude</label>
        <input placeholder="Station Latitude" type="text" name="latitude">
    </div>
    <div class="field">
        <label>Longitude</label>
        <input placeholder="Station Longitude" type="text" name="longitude">
    </div>
    </div>
    <button class="ui blue submit button">Add Station</button>
</form>