<nav class="ui menu">       <!--Our top bar across the top of the application, we have our small navigation in here-->
  <header class="ui header item"> <a href="/"> Weather Top </a></header>
  <h4> Welcome to Weather top</h4>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
    <a id="edit" class="item" href="/edit"> Edit Account </a>
  </div>
</nav>

<script>            <!--Small javascript piece to show the active tab-->
  $("#${_id}").addClass("active item");
</script>