<nav class="ui menu">  <!--Our top bar across the top of the application, we display this one when the user isn't logged in-->
    <header class="ui header item"> <a href="#"> Weather Top </a></header>
    <h4>Welcome to Weather Top, Please sign in to continue or register an account.</h4>
    <div class="right menu">
        <a id="signup" class="item" href="/signup"> Signup  </a>
        <a id="login" class="item" href="/login">  Login   </a>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");   <!--Small javascript piece to show the active tab-->
</script>