#{extends 'main.html' /}         <!--attaching this view to main.html for display-->
#{set title:'Dashboard' /}

#{menu id:"admin"/}

<section class="ui segment">
    <h2 class="ui header">
        All Known readings in the database:
    </h2>
    <table class="ui fixed table">               <!--Creating a table for the admin view which shows all of our readings in the database on the page-->
        <thead>
        <tr>
            <th>ID</th>
            <th>Code </th>
            <th>Temperature</th>
            <th>Wind Speed</th>
            <th>Pressure</th>
        </tr>
        </thead>
        <tbody>
        #{list items:readings, as:'reading'}    <!--Looping through the readings array list-->
        <tr>
            <td>
                ${reading.id}
            </td>
            <td>
                ${reading.code}
            </td>
            <td>
                ${reading.temperature}
            </td>
            <td>
                ${reading.windSpeed}
            </td>
            <td>
                ${reading.pressure}
            </td>
        </tr>
        #{/list}     <!--end loop-->
        </tbody>
    </table>
</section>